@font-face {
  font-family:'Gilroy Light';
  src: url('./fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gilroy-Light.woff2') format('woff2'),
  url('./fonts/Gilroy-Light.woff') format('woff'),
  url('./fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Gilroy ExtraBold';
  src: url('./fonts/Gilroy-ExtraBold.eot');
  src: url('./fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
  url('./fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('./fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family:'Noto Serif';
  src: url('./fonts/Noto Serif.eot');
  src: url('./fonts/Noto Serif.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Noto Serif.woff2') format('woff2'),
  url('./fonts/Noto Serif.woff') format('woff'),
  url('./fonts/Noto Serif.svg#Noto Serif') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
